.page {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 80px;
    padding-top: 60px;
}

.left-side {
    color: #00cc33;

    position: sticky;
    top: 30px;
    align-self: start;

    /* чтобы левая часть не была выше экрана */
    max-height: calc(100vh - 60px);

    padding: 30px 150px
}

.right-side {
    color: #11aa22;
    padding: 30px 155px;
}